{% extends 'base.html' %} {% block title %} Add Bus {% endblock %} {% block
content %}

<div class="container">
  <h1 class="text-center py-2">Add a bus</h1>

  <div class="container shadow p-4 mb-4 bg-white">
    <form action="/admin/add-bus" method="post">
      <div class="mb-3 mt-3">
        <label for="bus_name" class="form-label">Bus Name:</label>
        <input
          type="text"
          class="form-control w-50"
          id="bus_name"
          name="bus_name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="bus_no" class="form-label">Bus Number:</label>
        <input
          type="text"
          class="form-control w-50"
          id="bus_no"
          name="bus_number"
          pattern="[0-9]{7}"
          required
        />
      </div>
      <div class="mb-3">
        <label for="bus_reg_no" class="form-label"
          >Bus Registration Number:</label
        >
        <input
          type="text"
          class="form-control w-50"
          id="bus_reg_no"
          name="bus_reg_number"
          pattern="[a-zA-Z]{2}[0-9]{2}[a-zA-Z]{2}[0-9]{4}"
          required
        />
      </div>
      <div class="row mb-3">
        <label class="form-label">Price:</label>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="normal_seat_price"
            name="normal_seat_price"
            placeholder="Normal seat price"
            pattern="[0-9]{3,5}"
            required
          />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="window_seat_price"
            name="window_seat_price"
            placeholder="Window seat price"
            pattern="[0-9]{3,5}"
            required
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="no_of_seats" class="form-label"
          >No of Seats per column:</label
        >
        <input
          type="text"
          class="form-control w-50"
          id="no_of_seats"
          name="seat_count"
          pattern="[0-9]{2}"
          placeholder="Per column"
          required
        />
      </div>
      <div class="row mb-3">
        <label class="form-label">Location:</label>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="start_location"
            name="start_location"
            placeholder="From"
            required
          />
        </div>
        <div class="col-3">
          <input
            type="text"
            class="form-control"
            id="destination_location"
            name="destination_location"
            placeholder="To"
            required
          />
        </div>
      </div>
      <div class="form-group">
        <label for="days-of-week">Bus runs</label>
        <select
          name="running_on"
          multiple
          class="form-control"
          id="days-of-week"
        >
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
          <option value="Sunday">Sunday</option>
        </select>
      </div>

      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>
{% endblock %}
