{% extends 'base.html' %} {% block title %} Admin Index {% endblock %} {% block
content %}

<div class="container my-5">
  <h1 class="text-center">Welcome to Admin Portal</h1>

  <div class="clearfix">
    <span class="float-end"><a href="{{ url_for('admin.add_bus') }}" class="btn btn-primary">ADD</a></span>
  </div>
  <div class="container mt-5 shadow p-4 mb-4 bg-white">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Bus Name</th>
          <th scope="col">Bus Registration Number</th>
          <th scope="col">Running</th>
          <th scope="col">Normal Seat Price</th>
          <th scope="col">Window Seat Price</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% if buses %} {% for bus in buses %}
        <tr>
          <td>{{ bus.name }}</td>
          <td>{{ bus.reg_number }}</td>
          <td>{{ bus.start}} -> {{bus.destination }}</td>
          <td>{{ bus.normal_seat_price }}</td>
          <td>{{ bus.window_seat_price }}</td>
          <td>
            <a href="{{ url_for('admin.view_bus', bus_id=bus._id) }}"><i class="fa-solid fa-circle-info fa-lg"
                style="color: #000" title="View"></i></a>
            &nbsp;
            <a href="{{ url_for('admin.schedule_bus', bus_number=bus._id) }}" class="text-decoration-none"><i
                class="fa-solid fa-calendar-days fa-lg" style="color: #000" title="Schedule"></i>
            </a>
            &nbsp;
            <i class="fa-solid fa-trash fa-lg" id="bus-delete-{{bus._id}}" style="cursor: pointer" title="Delete"></i>
            <script>
              document.addEventListener("click", (e) => {
                if (e.target.id === "bus-delete-{{bus._id}}") {
                  if (confirm("Are you sure you want to delete this bus?")) {
                    window.location.href =
                      '{{ url_for("admin.remove_bus", bus_id=bus._id) }}';
                  }
                }
              });
            </script>
          </td>
        </tr>
        {% endfor %} {% else %}
        <tr>
          <td colspan="6" class="text-center">
            <h4>No buses found!</h4>
          </td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}