{% extends 'base.html' %} {% block title %} View Bus Details {% endblock %} {% block
content %}

<a href="{{ url_for('admin.index') }}"><i class="fa-solid fa-house-chimney home-icon" title="Home"></i></a>

<div class="container pt-4">
    <div class="row mt-2">
        <div class="col-6">
            <h1>{{ bus.name }}</h1>
            <p class="lead pt-2">{{ bus.start}} ➜ {{ bus.destination}}</p>
            <p>Normal Seat Price: <b>₹ {{ bus.normal_seat_price }}</b></p>
            <p>Window Seat Price: <b>₹ {{ bus.window_seat_price }}</b></p>
            <p class="pt-2">Runs On: {% for i in bus.runs_on %} {{i}} {% endfor %}</p>
        </div>
        <div class="col-6">
            <p style="padding-top: 4rem;">Registration Number: {{ bus.reg_number }}</p>
            <p>Bus Number: {{ bus._id }}</p>
        </div>
    </div>
    <div class="container mt-5 shadow p-4 mb-4 bg-white">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Scheduled On</th>
                    <th scope="col">Departure</th>
                    <th scope="col">Arrival</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% if bus_schedules %} {% for schedule in bus_schedules %}
                <tr>
                    <td>{{ schedule.scheduled_on }}</td>
                    <td>{{ schedule.departure_time }}</td>
                    <td>{{ schedule.arrival_time }}</td>
                    <td>
                        <i class="fa-solid fa-trash fa-lg" id="delete-schedule-{{schedule._id}}" style="cursor: pointer"
                            title="Delete"></i>
                        <script>
                            document.addEventListener("click", (e) => {
                                if (e.target.id === "delete-schedule-{{schedule._id}}") {
                                    if (confirm("Are you sure you want to delete this schedule?")) {
                                        window.location.href =
                                            '{{ url_for("admin.cancel_schedule", schedule_id=schedule._id) }}';
                                    }
                                }
                            });
                        </script>
                    </td>
                </tr>
                {% endfor %} {% else %}
                <tr>
                    <td colspan="4" class="text-center">
                        <h2>No schedules found!</h2>
                    </td>
                </tr>
                {% endif %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}