{% extends 'base.html' %} {% block title %} Booking Success {% endblock %}
{% include 'navbar.html' %}
{% block content %}

<div class="container mt-3">
  <div class="receipt">
    <h2 class="text-center">Booking Confirmed !</h2>
    <p>Bus Name: {{ bus.name }}</p>
    <p>Journey: {{ bus.start }} ➜ {{ bus.destination }}</p>
    <p>Journey Date: {{ booking.booked_date }}</p>
    <p>
      Seats booked: {% for i in booking.booked_tickets.window_left %} A{{i}} {%
      endfor %} {% for i in booking.booked_tickets.left %} B{{i}} {% endfor %}
      {% for i in booking.booked_tickets.right %} C{{i}} {% endfor %} {% for i
      in booking.booked_tickets.window_right %} D{{i}} {% endfor %}
    </p>

    <p>Total Price: {{ booking.booking_price }}</p>
    <br />
    <a href="{{url_for('index')}}" class="text-success text-decoration-none">Return to home</a>
  </div>
</div>

{% include 'footer.html' %} 

{% endblock %}