{% extends 'base.html' %} {% block title %} Index {% endblock %} {% block
content %} {% include 'navbar.html' %}

<div class="container mt-3">
  <div class="receipt">
    <h2 class="text-center">Booking Confirmed !</h2>
    <p>Bus Name: {{ bus.bus_name }}</p>
    <p>Journey: {{ bus.bus_start }} ➜ {{ bus.bus_destination }}</p>
    <p>Journey Date: {{ booking.booked_date }}</p>
    <p>
      Seats booked: {% for i in booking.booked_tickets.window_left %} A{{i}} {%
      endfor %} {% for i in booking.booked_tickets.left %} B{{i}} {% endfor %}
      {% for i in booking.booked_tickets.right %} C{{i}} {% endfor %} {% for i
      in booking.booked_tickets.window_right %} D{{i}} {% endfor %}
    </p>

    <p>Total Price: {{ booking.booking_price }}</p>
    <br />
    <a href="{{url_for('index')}}" class="text-success text-decoration-none"
      >Return to home</a
    >
  </div>
</div>

<footer class="footer">
  <div class="footwrap">
    <div class="footsec1">
      <h3>© UseBusesInc.</h3>
      <p>Address: sunteck kanaka panjim goa</p>
    </div>
    <div class="footsec2">
      <i class="fa-brands fa-3x fa-instagram icons"></i>
      <i class="fa-brands fa-3x fa-facebook icons"></i>
      <i class="fa-brands fa-3x fa-youtube icons"></i>
    </div>
  </div>
 


 
</footer>

{% endblock %}
