{% extends 'base.html' %} {% block title %} Index {% endblock %} 
{% block content %} {% include 'navbar.html' %}

<div class="main_div">
  <form class="Main-input" action="input">
    <div class="form_elements">
      <li class="homePageForm">
        <p class="headings">🏠From:</p>
        <input class="inputs" name="from" type="text" id="livebox" />
        <p id="datalist"></p>
      </li>
      <li class="homePageForm">
        <p class="headings">🚌To:</p>
        <p>
          <input class="inputs rogue" name="to" type="text" />
        </p>
      </li>

      <li class="homePageForm">
        <p class="headings">🗓️Date:</p>
        <input class="inputs" type="datetime-local" />
      </li>
      <li class="homePageForm">
        <button class="button">🔍</button>
      </li>
    </div>
  </form>
</div>
<footer class="container-fluid footer">
  <h3>© UseBusesInc.</h3>
</footer>
<script>
   $(document).ready(function(){
      $("#livebox").on("input",function(e){
          // $("#datalist").empty();
          console.log($("#livebox").val());
          $.ajax({
              method:"post",
              url:"/livesearch",
              data:{text:$("#livebox").val()},
              success:function(res){
                  console.log(res);
                  var data = "<ul>";
                  // $.each(res,function(res){
                      data += "<li>"+res+"</li>";
                  // });
                  data += "</ul>";
                  console.log(data)
                  $("#datalist").html(data);
              }
          });
      });
  });
</script>
<!-- <script>
  function myFunction() {
      var input, filter, ul, li, a, i, txtValue;
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      ul = document.getElementById("myUL");
      li = ul.getElementsByTagName("li");
      for (i = 0; i < li.length; i++) {
          a = li[i].getElementsByTagName("a")[0];
          txtValue = a.textContent || a.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
              li[i].style.display = "";
          } else {
              li[i].style.display = "none";
          }
      }
  }
  </script> -->
{% endblock %}
