<nav class="navbar navbar-expand-sm bg-blue">
    <div class="container-fluid">
        <!-- Links -->
        <ul class="navbar-nav">
            <div class="main-title">
                <li><h2>Use Buses🚎</h1></li>
            </div>
            <div class="links">
                <div class="empty">
                    <!-- empty -->
                </div>
                <div class="links2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">logistics</a>
                    </li>
                </div>
            </div>
        </ul>
    </div>
</nav>