{% extends 'base.html' %} {% block title %} Seat Booking {% endblock %}
{% block content %}
{% include 'navbar.html' %}
<div class="container">
  <form action="/book/seat" method="post">
    <div class="shadow" id="bus-outline">
      {% for i in range(1,11) %}
      <div class="mb-1">
        <!-- Left Window Seat -->
        <label title="Available" class="mx-2">
        <img src="{{ url_for('static', filename='img/seat_unoccupied.png') }}" height="36"/><br/>
        <input type="checkbox" name="window_left_seats" value="{{ i }}"/><small>A{{ i }}</small></label>
        <!-- Left Seat -->
        <label title="Available" class="mx-2">
        <img src="{{ url_for('static', filename='img/seat_unoccupied.png') }}" height="36"/><br/>
        <input type="checkbox" name="left_seats" value="{{ i }}"/><small>B{{ i }}</small></label>

        <span style="padding-left: 2rem">&nbsp;</span>

        <!-- Right Seat -->
        <label title="Available" class="mx-2">
        <img src="{{ url_for('static', filename='img/seat_unoccupied.png') }}" height="36"/><br/>
        <input type="checkbox" name="right_seats" value="{{ i }}"/><small>C{{ i }}</small></label>
        <!-- Right Window Seat -->
        <label title="Available" class="mx-2">
        <img src="{{ url_for('static', filename='img/seat_unoccupied.png') }}" height="36"/><br/>
        <input type="checkbox" name="window_right_seats" value="{{ i }}"/><small>D{{ i }}</small></label>
      </div>
      {% endfor %}
    </div>
    <button type="submit" class="btn btn-outline-success mb-5">Book</button>
  </form>
</div>

{% endblock %}
