{% extends 'base.html' %} {% block title %} Index {% endblock %} 
{% block content %} {% include 'navbar.html' %}



<div class="container my-5">
    <h1 class="text-center">Choose available buses</h1>
  
    
    <!-- <div class="container mt-5 shadow p-4 mb-4 bg-white"> -->
        {% for bus in buses %}
        
        <a class="buslink" href="/book/seat/{{bus._id}}">
            <div class="wrapper">
                <div class = "bus_list">
                    
                    <div class="bus_icon">
                        <img  class="bus_icon_image" src="{{ url_for('static', filename='img/buss.png') }}" alt="bus image here">
                    </div>
                    <div class="bus_info">
                        <div class="top_row">
                            <h3 class="bus_info_name">{{ bus.bus_name}}</h3>
                            <p class = "bus_info_startfin">{{ bus.bus_start}} ➜ {{ bus.bus_destination}}</p>
                        </div>
                        <div class="bottom_row">
                            <p>{{ day }}</p>
                            <h3 class="bus_info_icon">🎫<h3>
                        </div>
                       
                       
                    </div>
                    
                </div>
            </div>
        </a>
        
       
        {% endfor %}

      <!-- <table class="table">
        <thead>
          <tr>
            <th scope="col">Bus Name</th>
            <th scope="col">Bus Number</th>
            <th scope="col">Bus Registration Number</th>
            <th scope="col">Normal Seat Price</th>
            <th scope="col">Window Seat Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for bus in buses %}
          <tr>
            <td>{{ bus.bus_name }}</td>
            <td>{{ bus._id }}</td>
            <td>{{ bus.bus_reg_number }}</td>
            <td>{{ bus.bus_seats.right.seat_price }}</td>
            <td>{{ bus.bus_seats.window_right.seat_price }}</td>
            <td>
              <a href="{{ url_for('admin.remove_bus', bus_id=bus._id) }}"
                ><i class="fa-solid fa-trash"></i
              ></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table> -->
    <!-- </div> -->
  </div>


{% endblock %}
